{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/01-basic-rendering.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>01 - Basic Rendering</h1>
    <p>
        Thumbnail and Page models are the basic units of document viewer. Basically all what DV does - it
        displays a bunch of pages (with their thumbnail version on the side). This usecase makes sure that at very least
        you can instanciate both Page and Thumbnail instances and render them, as in example below:
    </p>
    <p>
        Result:
    </p>
    <div class="example">
        <div id="thumbnail"></div>
        <div id="page"></div>
    </div>
  </main>
{% endblock %}
