{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/02-basic-panel-with-items.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>02 - Basic Panels with Items</h1>
    <p>
    This code example creates two panels: thumbnails panel and pages panel. Each panel features 3 items.
    </p>
    <div class="example">
        <h3>Thumbnail panel:</h3>
        <div id="thumbnails-panel"></div>

    </div>
    <div class="example">
        <h3>Pages panel:</h3>
        <div id="pages-panel"></div>
    </div>
  </main>
{% endblock %}
