{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/03-mini-viewer.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>Mini Viewer</h1>
    <p>
    Very basic document viewer. Double click any thumbnail to scroll it into the view.
    </p>
    <div class="example">
        <h3>Mini viewer (panel is in grid mode)</h3>
      <div id="document-panel">
        <div id="thumbnails-panel">
        </div>
        <div id="pages-panel">
        </div>
      </div> <!-- viewer -->
    </div>
  </main>
{% endblock %}
