{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/basic-rendering.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>Basic Rendering</h1>
    <p>
        At very least you can instanciate a Document or a Folder instance
        and render them, as in example below:
    </p>
    <p>
        Result:
    </p>
    <div class="example">
        <div id="document"></div>
        <div id="folder"></div>
    </div>
  </main>
{% endblock %}
