{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/basic-panel-with-nodes.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>Basic Panel with Nodes</h1>
    <p>
    This code example creates two panels with 3 nodes each. Panel is rendered
    in two modes - list mode and grid mode;
    </p>
    <div class="example">
        <h3>Panel list mode:</h3>
        <div id="panel-list"></div>
        
    </div>
    <div class="example">
        <h3>Panel grid mode:</h3>
        <div id="panel-grid"></div>
    </div>
  </main>
{% endblock %}
