@mixin panel-item {
    /**
        Panel items have a checkbox and
        page number.
    */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

    .action-select {
        position: absolute;
        left: -1.4rem;
    }

    .page-number {
        position: absolute;
        bottom: -1.5rem;
    }
}
