@import "./mixins.scss";

.page {
    border: 1px solid #ccc;

    @include panel-item;

    // preserves aspect ratio of DIN A4, A5 pages
    // A4 aspect ratio = 1,41
    &.portrait {
        width: 10rem;
        height:14.1rem;
    }
    &.landscape {
        width: 14.1rem;
        height: 10rem;
    }
}