{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/05-zoom-in-zoom-out.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>Zoom In/Zoom Out</h1>
    <p>
        User can zoom in/zoom out pages.
    </p>
    <div class="showroom">
        <div class="d-flex justify-content-center">
            <select class="zoom">
                <option value="width">Width</option>
                <option value="300">300%</option>
                <option value="200">200%</option>
                <option value="175">175%</option>
                <option value="150">150%</option>
                <option value="125">125%</option>
                <option value="100">100%</option>
                <option value="90">90%</option>
                <option value="75">75%</option>
                <option value="50">50%</option>
            </select>
        </div>
        <div class="document-panel">
            <div class="thumbnails-panel">
                <div class="panel thumbnails">
                    {% for _ in range(1, 4) %}
                        <div class="item page-thumbnail portrait" style="width: 5rem; height: 7rem;">
                            <div class="loader small visible"></div>
                            <div class="svg-container">
                            </div>
                            <input
                                type="checkbox"
                                name="_selected_action"
                                value=""
                                class="action-select"
                            />
                            <div class="page-number placeholder">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pages-panel width35">
                <div class="panel pages">
                    {% for _ in range(1, 4) %}
                        <div class="item page portrait">
                            <div class="loader visible"></div>
                            <div class="svg-container">
                            </div>
                            <input
                                type="checkbox"
                                name="_selected_action"
                                value=""
                                class="action-select"
                            />
                            <div class="page-number placeholder">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> <!-- viewer -->
    </div>
  </main>
{% endblock %}
