{% extends "base.html" %}
{% block content %}
  <main class="container py-3">
    <p>
        Document commander is ultra modern web based document viewer used by <a href="https://github.com/ciur/papermerge">Papermerge project</a>. On this page you will find all information regarding document commander features, API and use cases description with examples.
    </p>
    <h1>Features Demo</h1>
    <ul>
        <li><a href="/basic-rendering">Basic rendering</a></li>
        <li><a href="/basic-panel-with-nodes">Basic Panel with Pages</a></li>
        <li><a href="/mini-browser">Mini Viewer</a></li>
        <li><a href="/slow-queries-browsing">Slow Queries Document Viewer</a></li>
        <li><a href="/dual-panel-browsing">Dual Panel Viewer</a></li>
        <li><a href="/selections-and-actions">Selections and Actions</a></li>
    </ul>
  </main>
{% endblock %}
